/* @override http://localhost/sxswcrush/css/main.css */

/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button {  
	margin:0; 
	padding:0; 
} 
table { 
	border-collapse:collapse; 
	border-spacing:0; 
} 
fieldset,img {  
	border:0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
	font-style:normal; 
	font-weight:normal; 
} 
ol,ul { 
	list-style:none; 
} 
caption,th { 
	text-align:left; 
} 

q:before,q:after { 
	content:''; 
} 
abbr,acronym {
	border:0; 
}
/*---------- END RESET ----------*/

/*-------------------------------------------+
|                                            |
|            MAIN STRUCTURE STYLES           |
|                                            |
+-------------------------------------------*/
html{
	font-size:100%;
	min-height:100%;
}
body{
	font-size:62.5%;
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	background: url('../images/bground.gif') #f20947 repeat center;
	color: #666;
	font-weight: lighter;
}

#wrapper {
	margin: 0 auto 2em;
	overflow:hidden;
	padding:5em;
	width:65em;
	background-color: white;
	height: 100%;
}

#header p {
	font-size: 2em;
}
#header {
	padding: 4.5em 0;
}
#header img {
	display:block;
	margin:0 auto 3.5em;	
}

.halfcol {
	width: 47%;
	margin-right: 5%;
	float: left;
	
}
.footer {
	display:block;
	margin:0 auto;
	text-align:center;
	width:57em;
	padding-bottom: 2em;
}
.footer p {
	font-size: 1.1em;
	color: #551828;
	letter-spacing: 1px;
}
.footer a {
	color: #ccc;

}
.footer a:hover {
	color: #ccc;

}
.image-left {
	float: left;
	margin: 0 2em 2em 0;
}
.last {
	margin-right: 0 !important;
}
.clear {
	clear:  both;
}

/*---------- FONTS -----------*/
h1,h2,h3,h4,h5,h6 { 
	font-size:100%; 
	font-weight:lighter; 
} 
p  {
	font-size: 1.8em;
	line-height: 130%;
}

h2 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: .5em;
}

h3 {
	background-color: #F9F7FE;
	border-bottom: 3px dotted #CA03D6;
	border-top: 3px dotted #CA03D6;
	color: #5301FB;
	display: block;
	font-size: 3em;
	line-height: 100%;
	margin: 1em 0 0;
	padding: 0.7em;
}
h3.error {
	background-color: red;
	border-color: white;
	color: white;
}

h1 {
	font-size: 3.7em;
	color: #ef3030;
}
a {
	color: #fc0367;
	text-decoration: none;
	border-bottom: 1px dotted #fc0367;
}
a:hover {
	color: red;
	text-decoration: none;
	border-bottom: 1px dotted red;
}

/*---------- END FONTS -----------*/

/*---LIVE TWITTER TIMELINE----*/
	.tweet {
		background: white;
		margin: 4px 0;
		width: 100%;
		padding: 8px;
		
		border: 1px dotted #e6e
	}
	.tweet img {
		float: left;
		margin: 0 8px 4px 0;
	}
	.tweet .text {
		margin: 0;
	}
	.tweet .time a {
		font-size: 70%;
		color: #888;
		white-space: nowrap;
		text-decoration: none;
		border-bottom-color: #666 ;
	}
	.tweet .time a:hover {
		text-decoration: underline;
	}
	#twitterSearch .tweet {
		min-height: 24px;
	}
	#twitterSearch .tweet .text {
		margin-left: 32px;
	}
textarea {
	color:#333;
	display:block;
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	margin:2em 0 1em;
	padding:.7em;
	font-size: 2em;
	width:30.7em;
	border: 4px solid white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #e5ecff;
	-webkit-box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
	text-align: left;
}

span.counter {
	font-size: 2.2em;
text-align: right;
}
form.twitter_form {
	text-align: right;
	margin-bottom: 3em;
	display: block;
}

input.tweet-button {
	margin-left: 1em;
}
input.button {
	-moz-border-radius:2px;
	-webkit-border-radius: 2px;
	background-color:#fc0367;
	border:0 none;
	font-family:verdana;
	padding: .7em;
	text-transform:uppercase;
	vertical-align:super;
	width:10em;
	color: white;
}

div.tweet-button {
	text-align: right;	
}

input.button:hover {
	background-color: yellowgreen;
}
img#avatar {
	margin-right: 5px;
	vertical-align: top;
}
img.logo {
	margin-bottom: 1em;
}